<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test sliders</title>

    <link rel="stylesheet" href="test.css">
  </head>
  <body>
    <main>
      <div class="img-slider">
        <div class="slide active"> </div>
        <div class="slide"> </div>
        <div class="slide"> </div>
        
        <div class="navigation">
          <div class="btn active"></div>
          <div class="btn"></div>
          <div class="btn"></div>
          <div class="btn"></div>
          <div class="btn"></div>
        </div>

      </div>
    </main>
  </body>
</html>
