<nav class="navbar navbar-expand-md navbar-dark">
    <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle Navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <nav class="navbar-nav flex-md-column text-center text-md-end">
            <a class="nav-link-text" href="#home" id="home-link">home</a>
            <a class="nav-link-text" href="#about" id="about-link">about</a>
            <a class="nav-link-text" href="#projects" id="projects-link">projects</a>
            <a class="nav-link-text" href="#contacts" id="contact-link">contact</a>
        </nav>
    </div>
</nav>