<div class="text-center mt-5">
    <em>find me elsewhere on the web 👇</em>
    
    <div class="text-center mt-2">
        <!-- GitHub -->
        <a class="contact" href="https://github.com/andrearcaina/" target="_blank">
            <i
            onmouseover="this.style.color='rgb(40, 139, 40)'"
            onmouseout="this.style.color='rgb(118, 118, 224)'"
            class="fa-brands fa-github slow-bounce"
            aria-hidden="true"
            ></i>
        </a>
        <!-- Devpost -->
        <a class="contact" href="https://devpost.com/andrearcaina/" target="_blank">
            <i
            onmouseover="this.style.color='rgb(40, 139, 40)'"
            onmouseout="this.style.color='rgb(118, 118, 224)'"
            class="fa-brands fa-dev slow-bounce"
            aria-hidden="true"
            ></i>
        </a>
        <!-- LinkedIn -->
        <a class="contact" href="https://www.linkedin.com/in/andre-arcaina/" target="_blank">
            <i
            onmouseover="this.style.color='rgb(40, 139, 40)'"
            onmouseout="this.style.color='rgb(118, 118, 224)'"
            class="fa-brands fa-linkedin slow-bounce"
            aria-hidden="true"
            ></i>
        </a>
        <!-- Email -->
        <a class="contact" href="mailto:dtandre331@gmail.com" target="_blank">
            <i
            onmouseover="this.style.color='rgb(40, 139, 40)'"
            onmouseout="this.style.color='rgb(118, 118, 224)'"
            class="fa-solid fa-envelope slow-bounce"
            aria-hidden="true"
            ></i>
        </a>
        <!-- Resume -->
        <a class="contact" href="resumes/Andre_Arcaina_Resume.pdf" target="_blank">
            <i
            onmouseover="this.style.color='rgb(40, 139, 40)'"
            onmouseout="this.style.color='rgb(118, 118, 224)'"
            class="fa-solid fa-file-invoice slow-bounce"
            aria-hidden="true"
            ></i>
        </a>
    </div>
</div>