@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&subset=cyrillic");

:root {
    --before: rgb(74, 74, 167);
    --after: rgb(43, 43, 102);
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(146, 168, 209);
    margin: 0;
    padding: 0;
    user-select: none;
    text-align: center;
    overflow: hidden;
}

main {
    margin: 0;
    padding: 100px;
}

#about-info {
    position: relative;
    text-align: justify;
    margin: 10px auto;
    font-size: 17px;
}

#name {
    color: rgb(40, 139, 40);
}

#links {
    margin-top: 20px;
    font-size: 50px; 
}

#resume-tag {
    font-size: 13px;
    font-weight: bold;
    position: relative;
    
    margin-top: -5px;
    left: 120px;
}

.slow-bounce {
    color: rgb(40, 139, 40);
    -webkit-animation: fa-bounce 1.2s infinite linear;
    animation: fa-bounce 1.2s infinite linear;
}

.slow-bounce:not(:hover) {
    color: rgb(74, 74, 167);
    animation: none;
}

.scroll-button {
    /* other styles... */
    background-color: #4CAF50;
    color: #ffffff;

    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-family: 'Roboto Mono', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    
    border-radius: 5px;
    box-shadow: 0 5px 0 #3e8e41;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.scroll-button:hover {
    box-shadow: 0 9px 0 #3e8e41;
    transform: translateY(-4px);
}

.scroll-button:active {
    box-shadow: 0 4px 0 #3e8e41;
    transform: translateY(2px);
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

#projects { 
    transform: translateX(100%);
}

.projects {
    display: inline-block;
    white-space: nowrap;
}

.project-card {
width: 300px;
height: 300px;
margin-right: 20px;
background-color: #ccc;
display: inline-block;
vertical-align: top;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* responsiveness part 1 */
@media only screen and (min-width: 768px) {
    #about-info {
        width: 600px;
        font-size: 17px;
        margin: 0 auto;
    }
    #contact-info {
        width: 350px;
        margin: 0 auto;
    }
}

/* responsiveness part 2 */
@media only screen and (max-width: 450px) {
    #about-info {
        width: 300px;
        font-size: 15px;
        right: 50px;
        margin: 0px auto;
    }
    #contact-info {
        width: 250px;
        font-size: 15px;
        right: 80px;
        margin: 0 auto;
    }
}